<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
      <div fxFlex="33">
        <span>Angular Example App 2019</span>
      </div>
      <div fxFlex="33" class="text--center">
          Test
      </div>
      <div fxFlex class="text--right" class.xs="footer-xs">
        <a href="https://angular.io/" rel="noreferrer" target="_blank">
          <img alt="angular logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png">
        </a>
      </div>
    </div>
  </footer>
  